$font-weight-regular-customize: 400;
$font-weight-medium-cusotmize: 500;
$color-main-custom-primary: #323F4B;

.font-light{
  font-weight: 400 !important;
}

.font-medium{
  font-weight: 500 !important;
}
